.git
.github
.cursor
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
node_modules
p1/audio/input
p1/audio/output
p1/image/input
p1/image/output
p1/text/input
p1/text/output
p1/video/input
p1/video/output
